
<div class="card text-center mt-5 border border-dark">
  <div class="card-header">
    <h3><%= link_to @stock.companyname, stock_transactions_path(@stock) %></h3>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @stock.stockprice %> stock price</p>
    <div class="d-flex justify-content-around flex-wrap row-arrang">
      <%= link_to 'transactions',stock_transactions_path(@stock), class: 'btn btn-info'%>
      <%= back_link(stocks_path) %>
    </div>
  </div>
</div>






