
<div class="d-grid gap-3  m-5">
	<h1>  Different companies cost summary</h1>

	<% @all_stocks.each do |t|%>

		<div class="card">
			<h5 class="card-header"><%= link_to t.companyname, stock_path(t.id) %></h5>
			<div class="card-body">
				<p class="card-text"> <strong>Amount Invested:</strong> <%= Stock.total_purchased_amount(t.id) %></p>
				<p class="card-text"> <strong>Amount Redeemed:</strong> <%= Stock.total_sold_amount(t.id) %></p>
			</div>
		</div>

	<% end %>
</div>


