
<div class="card w-100 m-5 border border-dark">
	<h3 class="card-header bg-info">Total Stocks Summary</h3>
  <div class="card-body">
    <p class="card-text"> <strong>Total Stocks Purchased:</strong> <%= @total_purchased_stocks %></p>
		<p class="card-text"> <strong>Total Stocks Sold:</strong> <%= @total_sold_stocks  %></p>
  </div>
</div>



  