
<div class="card w-100 m-5">
	<h3 class="card-header bg-info">Total Amount Summary</h3>
  <div class="card-body">
    <p class="card-text"><strong>Total amount invested:</strong> <%= @total_invested_amount %> </p>
		<p class="card-text"><strong>Total amount redeemed:</strong> <%= @total_redeemed_amount  %> </p>
  </div>
</div>


