<div class="card m-5 border border-dark">
  <h5 class="card-header"><%= @transaction.status %> transaction</h5>
  <div class="card-body">
    <h5 class="card-title"><%= @transaction.stock.companyname %></h5>
    <p class="card-text"><%= @transaction.no_of_stocks %> stocks</p>
    <%= back_link(stock_transactions_path([@stock])) %>
  </div>
</div>







